/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

* {

  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  
}

canvas{
  
  width:100% !important;
  /* height: 0px !important; */
}
body {
  width: fit-content;
  padding:0 30px;
  background-color: #032c43;
 
  width:100%;
}
h1{
 margin:10px 0px 20px 0px;

}

#post-charts {
   width:100%;
   display: flex;
   flex-direction: column;
   gap: 100px;
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
}
#post-charts .chart {
  width: 700px;
  height: 400px;
  
}
.completion-rate-audience-breakdown-for-article{
  width:100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
 
}


#user-charts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#user-charts .chart {
  width: 700px;
  height: 500px;
  
}

.total-read-time{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
 
}

.interaction-graphs{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.post-engagement-summary{
  width:50% !important;
}

.engagement-summary{
  width: 100%;
  display: flex;
  justify-content: center;

}

.post-engagement-summary > div > canvas {
  width:100% !important;
  
}

.interaction-type-count-with-interaction-name-for-article-chart > div > canvas {
  width:100% !important;
  
}

#readed-time-chart > div > canvas {
 
 width:100% !important;

 
}

.article-total-read-time > div > canvas {
 
  width:100% !important;
 
 }

 .interaction-score-by-audience-type-article-chart > div > canvas {
 
  width:100% !important;
 
  
 }

 .audience-level-peoples-choice-percentages-for-article-chart> div > canvas {
 
  width:100% !important;
 
  
 }
 .article-sentiment-breakdown-by-Audience-type > div > canvas {
 
  width:100% !important;
 
  
 }

 .completion-rate-audience-breakdown-for-article-chart > div > canvas{
  width:100% !important;
  
 
}
@media (max-width: 768px) {
  .engagement-summary{
    justify-self: start;
  }
  .post-engagement-summary{
    width:100% !important;
  }
  #readed-time-chart > div > canvas {
 
    width:90% !important;
    height: 300px !important;
   }
   
   .article-total-read-time > div > canvas {
    
     width:90% !important;
     height: 300px !important;
    }

    .completion-rate-audience-breakdown-for-article-chart > div > canvas{
      width:90% !important;
      
     
    }
    

    .interaction-type-count-with-interaction-name-for-article-chart > div > canvas {
      width:50% !important;
      
    }
    .interaction-score-by-audience-type-article-chart > div > canvas {
 
      width:60% !important;
    
     }
     .audience-level-peoples-choice-percentages-for-article-chart> div > canvas {
 
      width:50% !important;
     
      
     }
     .article-sentiment-breakdown-by-Audience-type > div > canvas {
 
      width:50% !important;
     
      
     }
}